body {
	color: black;
	background-color: white;
	display: block;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h2 {
		text-align: center;
	}
	> * {
		width: 40ch;
	}
	button {
		margin-top: 1rem;
	}
	input {
		margin-bottom: 1rem;
	}
}
